@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext);
*,
*:before,
*:after {
	box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
    font-style: normal;
}
.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
.head {
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.mobil {
    width: 100%;
	display: block;
    color: #fff;
    text-align: right; 
    position: relative;
}
.aktif {
    display: block;
}
.menu {
    width: 100%;
    display: none;
}
.aktif {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    background: rgba(36, 35, 35, 0.92);
    top: 12%;
    left: 0;
}
.menu a {
    color: #fff;
    width: 100%;
    padding: 10px;
    text-align: right;
    font-weight: 600;
}
.menu input {
    border-radius: 30px;
    outline: transparent;
    padding: 10px 0 10px 20px;
    margin: 10px;
}
.slide-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: #fff;
}
.slider h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.btn {
    display: block;
    max-width: 280px;
    margin: 30px 0;
    transition: all 0.15s ease;
    text-decoration: none;
    padding: 15px 60px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    border-radius: 30px;
    background-color: rgba(137, 36, 204, 0.624);
    color: #fff;
}
.slide-content p {
    padding-right: 20px;
    font-size: 12px;
}
.features {
    background: #2e3b4e;
    position: relative;
}
.features-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 0;
}
.feature-card {
    color: #fff;
    width: 100%;
    padding: 25px;
    font-size: 15px;
    border-bottom: 1px solid #fff;
}
.feature-card:last-child {
    border: none;
}
.feature-title {
    text-align: center;
    font-weight: 800;
    padding-bottom: 30px;
}
.feature-text {
    line-height: 24px;
}
.pink {
    background-image: url('../img/pink-bg.png');
    background-size: cover;
}
.pink-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 60px 0;
}
.pink-title {
    font-size: 35px;
}
.pink-text {
    width: 90%;
    line-height: 24px;
    padding: 25px 0;
}
.btn.btn-pink {
    background-color: #fff;
    color: #d54c63;
}
.about {
    display: flex;
    flex-direction: column;
    color: #3a4d60;
}
.about-img img{
    width: 100%;
}
.about-content {
    width: 100%;
    padding: 30px 10px;
}
.about-title {
    font-weight: 800;
}
.about-text {
    line-height: 30px;
}
.about-text b {
    display: block;
    font-weight: normal;
    font-size: 19px;
    padding: 20px 0 40px 0;
}
.base {
    background-image: url('../img/base.png');
    background-size: cover;
    position: relative;
    color: #fff;
}
.base-content {
    padding: 70px 0 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 6;
}
.base-title {
    padding: 10px;
    font-size: 24px;
}
.base-text {
    padding: 10px ;
    text-align: center;
    line-height: 24px;
}
.base::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 90%;
    bottom: 0;
    left: 0;
    background: rgba(82, 26, 102, 0.8);
}
.bowl {
    background-image: url('../img/bowl.jpg');
    background-size: cover;
}
.bowl-info {
    width: 100%;
    color: #fff;
    padding: 50px 10px ;
}
.btn.btn-photo {
    max-width: 160px;
    padding: 10px 20px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}
.bowl-text {
    font-size: 24px;
    line-height: 60px;
    padding: 30px 0;
}
.bowl-card {
    display: flex;
    align-items: center;
}
.bowl-card img {
    padding-right:10px ;
}
.clock {
    display: flex;
    flex-direction: column;
}
.clock-img img {
    width: 100%;
}
.clock-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    color: #3a4d60;
}
.clock-title {
    padding-top: 20px;
    font-weight: 800;
}
.clock-text {
    line-height: 30px;
}
.clock-text b {
    display: block;
    font-weight: normal;
    font-size: 19px;
    padding: 20px 0 40px 0;
}
.touch {
    background-color: #e7526b;
    color: #fff;
}
.touch-content {
    padding: 70px 0 100px 0;
}
.touch-info {
    text-align: center;
    width: 100%;
    line-height: 24px;
}
.touch-info b {
    display: block;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.touch-info a {
    display: block;
    padding-top: 30px;
    color: #fff;
    text-decoration: underline;
}
.footer {
    background-color: #2e3b4e;
    color: #fff;
}
.footer-content {
    padding: 50px 0;
    text-align: center;
}

/* Responsive */

@media(min-width:576px){
    .aktif {
        top: 21%;
        z-index: 10;
    }
    .menu input {
        margin-bottom: 30px;
    }
}

@media(min-width:768px){
    .aktif {
        top: 8%;
        padding-right: 20px;
        font-weight: 600;
    }
    .slide-content {
        padding: 150px 20px;
    }
    .slider h1 {
        font-size: 30px;
    }
    .feature-card {
        width: 50%;
        border: none;
    }
}

@media(min-width:992px){
    .aktif {
        top: 6%;
        padding-right: 20px;
        font-weight: 600;
    }
    .about {
        flex-direction: row;
        align-items: center;
    }
    .clock {
        flex-direction: row;
        align-items: center;
    }
}

@media(min-width:1200px) {
    .header {
        padding-top: 40px;
    }
    .mobil {
        display: none;
    }
    .menu {
        display: block;
        text-align: right;
    }
    .menu a {
        position: relative;
        padding: 0 15px;
    }
    .header .menu a::before {
        content: '';
        position: absolute;
        width: 30%;
        height: 3px;
        background-color: #fff;
        text-align: center;
        left: 35%;
        top: 70px;
        opacity: 0;
    }
    .header .menu a:hover::before {
        opacity: 1;
    }
    .slider h1 {
        font-size: 40px;
    }
    .btn {
        background: rgb(137, 36, 204);
    }
}
@media(min-width:1660px) {
    .menu a {
        padding: 0 25px;
    }
    .slide-content {
        width: 50%;
        align-items: flex-end;
        text-align: right;
        padding: 250px 20px;
    }
    .slider h1 {
        font-size: 50px;
        line-height: 80px;
    }
    .btn:hover {
        box-shadow: 0px 4px 25px 5px rgba(244, 244, 247, 0.603);
    }
    .pink-content {
        padding: 150px 0;
    }
    .pink-title {
        font-size: 35px;
    }
    .pink-text {
        width: 45%;
        line-height: 24px;
        padding: 25px 0;
    }
    .about-content {
        width: 50%;
        padding: 30px 60px;
    }
    .about-title {
        font-weight: 800;
    }
    .about-text {
        line-height: 30px;
    }
    .base-content {
        padding: 170px 0 90px 0;
    }
    .bowl-info {
        width: 50%;
        padding: 350px 0 80px 0;
    }
    .bowl-text {
        font-size: 40px;
        line-height: 60px;
        padding: 30px 0;
    }
    .bowl-card img {
        padding-right:10px ;
    }
    .clock {
        justify-content: flex-end;
    }
    .clock-content {
        width: 50%;
        padding: 0 50px;
    }
    .clock-text {
        line-height: 30px;
    }
    .clock-text b {
        padding: 20px 0 40px 0;
    }
}